/*base style*/
body {
	font-family: 'Montserrat', sans-serif;
}
div {
	margin-top: 10px;
	margin-bottom: 10px;
	&.accordion-item {
		margin: 0;
	}
}
.currency {
	&::after {
		content: "€";
	}
}
@media (min-width: 1200px) {
	.currency {
		text-align: right;
	}
}
.table-total {
	font-weight: bold;
	font-size: larger;
}
.table-container {
	overflow-x: auto;
}
.navbar {
	.nav-item i {
		font-size: 2rem;
	}
}
#summaryTableContainer {
	max-width: 768px;
}
table {
	thead {
		font-weight: bold;
		font-size: larger;
		tr:last-child {
			border-bottom: 1px solid #AAAAAA;
		}
	}
	td, th {
		padding: 5px;
	}
}
.table-header {
	font-weight: 900;
	font-size: larger;
}
@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(180deg);}
}
.spinner-loading {
	animation-name: spin;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}
.diff.gain{
	color: lightgreen;
}
.diff.loss{
	color: palevioletred;
}
.lessimportant{
	font-size: smaller;
	color: rgb(180, 180, 180);
}

/*Forms*/
.fieldWrapper {
	margin-bottom: 0.5em;
}
