.list-item-edit {
    cursor: pointer;
}

.custom-tooltip {
    background-color: rgba(200, 200, 200, 0.7);
    padding: 10px;
}

.custom-tooltip .label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.bar-chart-title {
    margin-top: 0;
    text-align: center;
    font-style: italic;
}