{% extends 'movimenti/base.html' %}
{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block extra_script %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script type="text/javascript" src="{% static 'movimenti/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'movimenti/assets.js' %}"></script>
{% endblock %}
{% block title %}
Registra bilancio corrente
{% endblock %}
{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col col-12 col-md-6">
			<form action="/movimenti/assets" method="post" id="assetsForm">
		{% csrf_token %}
		{% bootstrap_form form exclude='notes,user' %}
		<div class="mb-3">
			<div id="itemsList">
				<div class="row mb-2 d-none" id="balanceListItemTemplate">
					<div class="col col-4"><input class="form-control" type="number" step="0.01" name="balance_item_val" onChange="computeSum()"/></div>
					<div class="col col-6"><input class="form-control" type="text" placeholder="{% translate 'description' %}" name="balance_item_key" onChange="keyItemChange(this)" /></div>
					<div class="col col-2">
						<button type="button" onClick="removeButtonClick(this)" class="col btn btn-light btn-sm remove-button">
							<span class="d-none d-lg-block">Remove</span><span class="d-lg-none"><i class="bi bi-trash"></i></span>
						</button>
					</div>
				</div>
				{% for item in latests %}
				<div class="row mb-2" id="balance_item_{{forloop.counter0}}">
					<div class="col col-4"><input class="form-control" type="number" step="0.01" name="balance_item_val" id="balance_item_val_{{forloop.counter0}}"
							onChange="computeSum()" value="{{item.balance|floatformat:'2u'}}"/></div>
					<div class="col col-6"><input class="form-control" type="text" placeholder="description" name="balance_item_key" id="balance_item_key_{{forloop.counter0}}"
							onChange="keyItemChange(this)" value="{{item.notes}}"/></div>
					<div class="col col-2">
						<button type="button" onClick="removeButtonClick(this)" class="col btn btn-light btn-sm remove-button" data-index="{{forloop.counter0}}">
							<span class="d-none d-lg-block">{% translate "Remove" %}</span><span class="d-lg-none"><i class="bi bi-trash"></i></span>
						</button>
					</div>
				</div>
				{% endfor %}
			</div>
			<div>{% translate "TOTAL" %}: <span id="sum">{{totalassets | floatformat:2}}</span></div>
			<div class="d-flex justify-content-center"><button type="button" id="addbutton" class="btn btn-info btn-sm">{% translate "Add entry" %}</button></div>
		</div>
		<div class="d-flex justify-content-center">
			{% bootstrap_button button_type="button" content=_("Submit") name="submit" %}
		</div>
		<!-- <button class="btn btn-primary" type="submit" value="Submit">Registra</button> -->
			</form>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col col-12 col-md-6">
			<div id="messages"></div>
		</div>
	</div>
	<div class="row mt-2 justify-content-center">
		{% comment %} <div class="col-12 col-xl-7">
			<canvas id="assetsChart"></canvas>
		</div> {% endcomment %}
		<div class="col-12 col-xl-5">
			<div class="container" style="max-width: 768px;">
				<div class="row h2 text-center justify-content-center m-3">{% translate "Assets log" %}</div>
				<div class="row justify-content-center border-bottom">
					<div class="table-header col-4">{% translate "Date" %}</div>
					<div class="table-header col-4 text-end">{% translate "Total" %}</div>
					<div class="table-header col-4 text-end">{% translate "Error" %}</div>
				</div>
				{% for asset in assets %}
				<div class="row justify-content-center border-bottom p-2">
					<div class="col-4">{{asset.date | date:'d/m/Y'}}</div>
					<div class="col-4 currency text-end">{{asset.totbalance | floatformat:2}}</div>
					<div class="col-4 currency text-end">{{asset.error | floatformat:2}}</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block end_scripts %}
{{ block.super }}
{% endblock %}
