{% extends 'movimenti/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
Lista movimenti
{% endblock %}
{% block extra_script %}
{{ block.super }}
<script type="text/javascript" src="{% static 'movimenti/list.js' %}"></script>
{% endblock %}
{% block content %}
<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
		<a href="?page=1">&laquo; {% translate "first" %}</a>
		<a href="?page={{ page_obj.previous_page_number }}">{% translate "previous" %}</a>
		{% endif %}

		<span class="current">
			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">{% translate "next" %}</a>
		<a href="?page={{ page_obj.paginator.num_pages }}">{% translate "last" %} &raquo;</a>
		{% endif %}
	</span>
</div>
<div class="table-container mt-4">
	<div class="row align-items-center justify-content-center my-2">
		<div class="col-6 col-xl-2 text-center">
			<button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
				aria-expanded="false" aria-controls="collapseExample">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-circle"
					viewBox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
					<path
						d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z" />
				</svg>
				{% translate " Filters" %}...
			</button>
		</div>
	</div>
	<div class="collapse" id="collapseExample">
		<div class="row align-items-center justify-content-center">
			<div class="col-8 col-xl-10">
				<div class="row gy-2">
					<div class="col-12 offset-xl-1 col-xl-4">
						<input class="form-control" type="text" id="filter-description" placeholder="Filter description..."
							onchange="applyFilter()" />
					</div>
					<div class="col-12 offset-xl-1 col-xl-3">
						<select class="form-select" id="filter-category" onchange="applyFilter()">
							<option value="-1">{% translate "Filter category" %}...</option>
							{% for cat in categories%}
							<option value="{{cat.id}}">{{cat.category}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-12 col-xl-3">
						<select class="form-select" id="filter-subcategory" onchange="applyFilter()">
							<option value="-1">{% translate "Filter subcategory" %}...</option>
							{% for cat in subcategories%}
							<option value="{{cat.id}}">{{cat.subcategory}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="col-2 col-xl-2">
				<button class="btn btn-secondary" type="button" onclick="cleanFilters()"
					aria-label="{% translate 'Clear filters' %}">
					<span class="d-flex d-xl-none">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
							<path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
						</svg>
					</span>
					<span class="d-none d-xl-flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
							<path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
						</svg>
						{% translate " Clear filters" %}
					</span>
				</button>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<div class="d-none d-xl-block">
			<div class="row border-bottom">
				<div class="table-header offset-xl-1 col-xl-1">{% translate "Date" %}</div>
				<div class="table-header col-xl-4">{% translate "Description" %}</div>
				<div class="table-header col-xl-1">{% translate "Amount" %}</div>
				<div class="table-header col-xl-3">{% translate "Category" %} <a href="/movimenti/categories"><i class="bi bi-gear"></i></a></div>
				<div class="table-header col-xl-2">{% translate "Subcategory" %}</div>
			</div>
		</div>
			{% for mov in page_obj %}
		<div class="row border-bottom {% if mov.is_future %}text-muted{% endif %} pb-2 pt-2 align-items-center position-relative">
			<div class="d-none d-xl-block col-xl-1">
				<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#updateModal" data-bs-entryId="{{mov.id}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
						viewBox="0 0 16 16">
						<path
							d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
					</svg>
				</button>
			</div>
			<div class="d-block d-xl-none position-absolute end-0 text-end">
				<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#updateModal"
					data-bs-entryId="{{mov.id}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
						viewBox="0 0 16 16">
						<path
							d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
					</svg>
				</button>
			</div>
			<div class="col-12 col-xl-1">
				<span class="d-xl-none"><i class="bi bi-calendar-check"></i></span>
				{{mov.date | date:'d/m/Y H:i'}}
			</div>
			<div class="col-12 col-xl-4">
				<span class="d-xl-none">
					<i class="bi bi-info-square"></i>
				</span>
				{{mov.description}}</div>
			<div class="col-12 col-xl-1 currency">
				<span class="d-xl-none"><i class="bi bi-piggy-bank"></i></span>
				{{mov.amount | floatformat:2}}
			</div>
			<div class="col-12 col-xl-3">
				<span class="d-xl-none"><i class="bi bi-tag"></i></span>
				{{mov.category}}
			</div>
			<div class="col-12 col-xl-2">
				{% with subcat=mov.subcategory %}
					<span class="d-xl-none"><i class="bi bi-tags"></i></span>
				{{subcat}}
				{% endwith %}
			</div>
		</div>
			{% endfor %}
		<!-- Entry edit Modal -->
		<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="updateModalLabel">{% translate "Update record" %}</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<!-- Form per modificare i campi del movimento -->
						<form id="updateModalForm">
							{% csrf_token %}
							<input type="hidden" name="id">
							<div class="row mb-3">
								<div class="col">
									<label for="update_date" class="form-label">{% translate "Date" %}</label>
									<input type="datetime-local" class="form-control" name="date" id="update_date" aria-describedby="dateHelp">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col">
									<label for="update_description" class="form-label">{% translate "Description" %}</label>
									<input type="text" class="form-control" name="description" id="update_description" aria-describedby="descriptionHelp">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col">
									<label for="update_amount" class="form-label">{% translate "Amount" %}</label>
									<input type="number" step="0.01" class="form-control" name="abs_amount" id="update_amount" aria-describedby="descriptionHelp">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col">
									<label for="update_category" class="form-label">{% translate "Category" %}</label>
									<select class="form-select" name="category" id="update_category" aria-describedby="categoryHelp">
										{% for catobj in categories %}
										<option value="{{catobj.id}}">{{catobj.category}}</option>
										{% endfor %}
									</select>
									<label for="update_subcategory" class="form-label">{% translate "Category" %}</label>
									<select class="form-select" name="subcategory" id="update_subcategory" aria-describedby="categoryHelp">
										{% for catobj in subcategories %}
										<option value="{{catobj.id}}">{{catobj.subcategory}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</form>
						<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
							<symbol id="check-circle-fill" viewBox="0 0 16 16">
								<path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
							</symbol>
							<symbol id="info-fill" viewBox="0 0 16 16">
								<path
									d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
							</symbol>
							<symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
								<path
									d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
							</symbol>
						</svg>
						<div class="alert alert-dismissible fade show alert-success d-none align-items-center" id="updateSuccessFeedback" role="alert">
							<!-- icon sizing issues -_- -->
							<!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
								<use xlink:href="#check-circle-fills" />
							</svg> -->
							<div class="message">Message</div>
							<button type="button" class="btn-close" aria-label="Close" onclick="hideFeedbackWithID('updateSuccessFeedback')"></button>
						</div>
						<div class="alert alert-dismissible fade show alert-danger d-none align-items-center" id="updateFailFeedback" role="alert">
							<!-- icon sizing issues -_- -->
							<!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
								<use xlink:href="#exclamation-triangle-fill" />
							</svg> -->
							<div class="message">Message</div>
							<button type="button" class="btn-close" aria-label="Close" onclick="hideFeedbackWithID('updateFailFeedback')"></button>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
						<button type="button" class="btn btn-primary" id="updateModalSubmit">{% translate "Save changes" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}