{% extends 'movimenti/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block extra_script %}
{{ block.super }}
<script type="text/javascript" src="{% static 'movimenti/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'movimenti/assets.js' %}"></script>
{% endblock %}
{% block title %}
Registra bilancio corrente
{% endblock %}
{% block content %}
<div class="row">
	<div class="col col-12 col-md-4">
		<form action="/movimenti/assets" method="post">
	{% csrf_token %}
	{% bootstrap_form form %}
	
	{% bootstrap_button button_type="submit" content="Submit" %}
	<!-- <button class="btn btn-primary" type="submit" value="Submit">Registra</button> -->
		</form>
	</div>
</div>
{% endblock %}
