{% extends 'movimenti/base.html' %}
{% load static %}
{% block extra_script %}
{{ block.super }}
<script type="text/javascript" src="{% static 'movimenti/summary.js' %}"></script>
{% endblock %}

{% block title %}
Movimenti dal {{ start }} al {{ end }}
{% endblock %}
{% block content %}
<div id="select-period">
	<form class="row row-cols-lg-auto g-3 align-items-center">
		<div class="col-12">
			<div class="form-floating">
				<select class="form-select" name="month" id="select-month">
					{% for monthobj in months %}
					<option value="{{monthobj.idx}}" {% if monthobj.isCurrent %}selected{% endif %}>{{monthobj.name}}</option>
					{% endfor %}
				</select>
				<label for="select-month">Month</label>
			</div>
		</div>
		<div class="col-12">
			<div class="form-floating">
				<select class="form-select" name="year" id="select-year">
					{% for year in availableYears %}
					<option value="{{year|date:'Y'}}">{{year |date:'Y'}}</option>
					{% endfor %}
				</select>
				<label for="select-year">Year</label>
			</div>
		</div>
		<!-- <div class="col-12">
			<button type="button" class="btn btn-primary" onclick="selectDate()">Select</button>
		</div> -->
	</form>
</div>
<h2>Movimenti dal {{ start | date:'d/m/Y' }} al {{ end | date:'d/m/Y' }}</h2>
<div class="table-container">
	<table>
		<thead>
			<th>Category</th>
			<th>Incomes</th>
			<th>Expenses</th>
		</thead>
		<tbody>
			{% for res in results %}
			{% if res.ins.amount > 0 or res.outs.amount > 0 %}
			<tr>
				<td><a href="#" data-category="{{res.cat.id}}">{{res.cat.category}}</a></td>
				<td class="currency">{{res.ins.amount | floatformat:2}}</td>
				<td class="currency">{{res.outs.amount | floatformat:2}}</td>
			</tr>
			{% endif %}
			{% endfor %}
			<tr class="table-total">
				<td></td>
				<td class="currency">{{ totals.ins |floatformat:2 }}</td>
				<td class="currency">{{ totals.outs |floatformat:2 }}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}