{% extends 'movimenti/base.html' %}
{% load static %}
{% load i18n %}
{% block extra_script %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{% static 'movimenti/summary.js' %}"></script>
{% endblock %}

{% block title %}
{% translate "Movements' summary" %}
{% endblock %}
{% block content %}
<div class="container">
<div class="container container-768">
    <div class="accordion mt-2" id="summaryFilterAccordion">
        <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#select-range-period" aria-expanded="true" aria-controls="select-range-period">
                    {% translate "Filter by range" %}
                </button>
            </h3>
            <div id="select-range-period" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#summaryFilterAccordion">
                <div class="accordion-body">
                    <form class="row row-cols-lg-auto justify-content-center">
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="date" class="form-control" name="dateFrom" id="dateFrom"/>
                                <label for="dateFrom">{% translate "From" %}</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="date" class="form-control" name="dateTo" id="dateTo" />
                                <label for="dateTo">{% translate "To" %}</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#select-month-period" aria-expanded="true" aria-controls="select-month-period">
                    {% translate "Filter by month" %}
                </button>
            </h3>
            <div id="select-month-period" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#summaryFilterAccordion">
                <div class="accordion-body">
                    <form class="row row-cols-lg-auto justify-content-center">
                        <div class="col-12">
                            <div class="form-floating">
                                <select class="form-select" name="month" id="select-month">
                                    {% for monthobj in months %}
                                    <option value="{{monthobj.idx}}" {% if monthobj.isCurrent %}selected{% endif %}>{{monthobj.name}}</option>
                                    {% endfor %}
                                </select>
                                <label for="select-month">Month</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <select class="form-select" name="year" id="select-year">
                                    {% for year in availableYears %}
                                    <option value="{{year|date:'Y'}}">{{year |date:'Y'}}</option>
                                    {% endfor %}
                                </select>
                                <label for="select-year">Year</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#quick-filters-accordion"
                    aria-expanded="true" aria-controls="quick-filters-accordion">
                    {% translate "Quick filters" %}
                </button>
            </h3>
            <div id="quick-filters-accordion" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#summaryFilterAccordion">
                <div class="accordion-body">
                    <div class="d-grid gap-2 d-md-block text-center">
                        <button id="filter-button-currentyear" type="button" class="btn btn-secondary">{% translate "Current year" %}</button>
                        <button id="filter-button-lastyear" type="button" class="btn btn-secondary">{% translate "Last year" %}</button>
                        <button id="filter-button-last3m" type="button" class="btn btn-secondary">{% translate "Last 3 months" %}</button>
                        <button id="filter-button-last6m" type="button" class="btn btn-secondary">{% translate "Last 6 months" %}</button>
                        <button id="filter-button-last12m" type="button" class="btn btn-secondary">{% translate "Last 12 months" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    <div class="row mt-2">
        <div class="col-12 col-xl-4">
            <!-- <div class="card-group"> -->
                <div class="card my-3">
                    <div class="card-header">{% translate "Expenses" %}</div>
                    <div class="card-img-top">
                        <canvas id="expensesChart"></canvas>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-header">{% translate "Incomes" %}</div>
                    <div class="card-img-top">
                        <canvas id="incomesChart"></canvas>
                    </div>
                </div>
            <!-- </div> -->
            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="expenses-pie" data-bs-toggle="tab" data-bs-target="#expenses-pie-pane" type="button"
                        role="tab" aria-controls="expenses-pie-pane" aria-selected="true">{% translate "Expenses" %}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="incomes-pie" data-bs-toggle="tab" data-bs-target="#incomes-pie-pane" type="button"
                        role="tab" aria-controls="incomes-pie-pane" aria-selected="false">{% translate "Incomes" %}</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="expenses-pie-pane" role="tabpanel" aria-labelledby="expenses-pie" tabindex="0">
                    <canvas id="expensesChart"></canvas>
                </div>
                <div class="tab-pane fade" id="incomes-pie-pane" role="tabpanel" aria-labelledby="incomes-pie" tabindex="0">
                    <canvas id="incomesChart"></canvas>
                </div>
            </div>             -->
        </div>
        <div class="col-12 col-xl-8" id="summaryTableContainer">
        </div>
    </div>
</div>
{% endblock %}