{% load static %}
{% load sass_tags %}
{% load extras %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% block title %}Trading Log App{% endblock %}</title>

	<!-- BOOTSTRAP -->
	{# Load the tag library #}
	{% load django_bootstrap5 %}
	
	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript %}

	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}

	
	<!-- JQUERY -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>	

	<!-- base local scripts -->
	<script type="text/javascript" src="{% static 'scripts.js' %}"></script>
	{% block extra_script %}{% endblock %}
	
	<!-- FONTAWESOME -->
	<script src="https://kit.fontawesome.com/4106bab399.js" crossorigin="anonymous"></script>
	
	<!-- BOOTSTRAP ICONS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

	<!-- MONTSERRAT GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css" />

	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	{% block extra_link %}{% endblock %}
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar-brand">
					<a href="/">
						<img src="{% static 'brand-logo.png' %}" alt="Logo" width="30" height="24"
							class="d-inline-block align-text-top" />
					</a>
					<a href="{{base_app_path}}">{{request.current_app}}</a>
				</div>
				<!-- more-than-xs screens only -->
				<ul class="d-none d-sm-flex nav ms-auto mb-2 mb-lg-0 align-items-center">
					<li class="nav-item dropdown">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
							aria-expanded="false">
							<span class="d-none d-xl-inline">{{ LANGUAGE_CODE|language_name_local }}</span> <i class="bi bi-translate"></i>
						</a>
						<ul class="dropdown-menu" id="langSelectionMenu">
							<form id="langSelectionForm">
							{% csrf_token %}
								<input type="hidden" name="next" value="{{request.path}}" />
							{% for language in languages %}
									<li>
								{% if language.code == LANGUAGE_CODE %}
										<a class="dropdown-item active" href="#">{{ language.name_local }}</a>
								{% else %}
										<a class="dropdown-item" href="#" data-language-code="{{language.code}}">{{ language.name_local }}</a>	
								{% endif %}
									</li>
							{% endfor %}
							</form>
						</ul>
					</li>
					
					{% if user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
							<span class="d-none d-xl-inline">{{user.get_full_name|default:user.username}}</span> <i class="bi bi-person-circle"></i>
						</a>
						<ul class="dropdown-menu">
							<li class="nav-item">
								<a class="nav-link" href="#">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/logout">Logout</a>
							</li>
						</ul>
					</li>
					{% endif %}
				</ul>
				<!-- xs screens only -->
				<nav class="navbar d-sm-none">
					<div class="container-fluid justify-content-end">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#smallscreentogglemenu"
							aria-controls="smallscreentogglemenu" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="smallscreentogglemenu">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								{% get_current_language as LANGUAGE_CODE %}
								{% get_available_languages as LANGUAGES %}
								{% get_language_info_list for LANGUAGES as languages %}
								<form id="langSelectionForm">
									{% csrf_token %}
									<input type="hidden" name="next" value="{{request.path}}" />
									{% for language in languages %}
									<li class="nav-item">
										{% if language.code == LANGUAGE_CODE %}
										<a class="dropdown-item active" href="#">{{ language.name_local }}</a>
										{% else %}
										<a class="dropdown-item" href="#" data-language-code="{{language.code}}">{{ language.name_local }}</a>
										{% endif %}
									</li>
									{% endfor %}
								</form>
								<!-- lang items -->
								<li>
									<hr class="dropdown-divider">
								</li>
								<!-- user management -->
								{% if user.is_authenticated %}
								<li class="nav-item">
									<a class="nav-link" href="#">Profile</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/logout">Logout</a>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</nav>
	{% block nav%}
	{% endblock %}
	{% block content %}{% endblock %}
	</div>
	{% block end_scripts %}{% endblock %}
</body>
</html>

<!--


-->