{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
My beautiful personal finance app!
{% endblock %}
{% block content %}
<div class="row justify-content-center gy-2">
  <div class="col-8 col-sm-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{% translate "Trading log" %}</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="tradinglog/" class="btn btn-primary">{% translate "Go!" %} <i class="bi bi-box-arrow-in-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-8 col-sm-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{% translate "Expenses log" %}</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="movimenti/" class="btn btn-primary">{% translate "Go!" %} <i class="bi bi-box-arrow-in-right"></i></a>
      </div>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col-8 col-sm-6">
    <div class="card text-center text-bg-dark">
      <div class="card-body">
        <h5 class="card-title">{% translate "Admin area" %}</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="admin/" class="btn btn-secondary">{% translate "Go!" %} <i class="bi bi-person-fill-lock"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}