{% extends 'base.html' %}
{% load static %}
{% block title %}
My beautiful personal finance app!
{% endblock %}
{% block content %}
<div class="row justify-content-center my-0">
  <div class="col-8 col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Trading log</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="tradinglog/" class="btn btn-primary">Go! <i class="bi bi-box-arrow-in-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center my-0">
  <div class="col-12 col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Expenses log</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="movimenti/" class="btn btn-primary">Go! <i class="bi bi-box-arrow-in-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center my-0">
  <div class="col-12 col-sm-4">
    <div class="card text-center text-bg-dark">
      <div class="card-body">
        <h5 class="card-title">Admin aerea</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="admin/" class="btn btn-secondary">Go! <i class="bi bi-person-fill-lock"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}